<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.mainactivity"
    android:versionCode="1"
    android:versionName="1.0.3" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.home.application.BaseApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- android:name="com.home.application.BaseApp" -->

        <activity
            android:name="com.home.mainactivity.PreStartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar" >

            <!-- android:windowSoftInputMode="adjustPan|stateHidden" -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.home.mainactivity.MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.home.mainactivity.User_Define_Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.home.mainactivity.To_Define_Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.home.mainactivity.HelpActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.home.mainactivity.AddRemoteControll"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.home.mainactivity.FeedBackActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.home.mainactivity.ConfigActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.home.mainactivity.SceneActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.home.mainactivity.MyControl_Equipment"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.home.mainactivity.Controll_AirConditioner"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.home.mainactivity.Number_Controll_Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.home.mainactivity.AddSceneActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.home.mainactivity.SettingActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <service android:name="org.eclipse.paho.android.service.MqttService" >
        </service>
        <service
            android:name="com.home.service.BackgroundService"
            android:priority="1000" >
        </service>

        <receiver android:name="com.example.demo.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.wujay.fund.GestureEditActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.wujay.fund.GestureVerifyActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>